:root {
    --snake-color: #fd6401;
    --snake-glow-color:  #fd6401;
    --food-color: #68e768;
    --score-color: #fff;
}
body {
    background-color: #2f4f4f;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#gameContainer {
    width: 40vw;
    height: 40vw;
    margin: 2vw auto;
    background-color: #0c1021;
    border: solid 10px #708090;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
}
.gameBoardPixel {
    width: 1vw;
    height: 1vw;
    border-radius: 10px;
    float: left;
}
.snakeBodyPixel {
    background-color: var(--snake-color);
    box-shadow: 0 0 5px var(--snake-glow-color);
}
.food {
    background-color: var(--food-color);
}

#scoreContainer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.scoreBoard {
    border-radius: 10px;
    border: solid 5px #708090;
    color: var(--score-color);
    background-color: #0c1021;
    display: inline-block;
    padding: .5vw;
    width: 40%;
    font-size: 25px;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
}

#pointsEarned {
    margin: 0px 10px;
}

#onScreenControllers {
    display: none;
}
.developerDetails {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    color: #0c1021;
    font-family: monospace;
}
.developerDetails a {
    color: #0c1021;
}
@media only screen and (max-width: 768px) {
    #gameContainer {
        width: 80vw;
        height: 80vw;
    }
    .gameBoardPixel {
        width: 2vw;
        height: 2vw;
    }
    #scoreContainer {
        width: 80vw;
    }
    #onScreenControllers {
        width: 80vw;
        margin: 5vw auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #onScreenControllers > div {
        display: flex;
        flex-direction: column;
    }
    #onScreenControllers button {
        background-color: transparent;
        height: 20vw;
        width: 20vw;
        font-size: 10vw;
        border: none;
    }
    #onScreenControllers button:focus {
        outline: 0;
    }
    #onScreenControllers button:active {
        background-color: #708090;
    }
}
